.footer {
  width: 100vw;
  font-family: 'Libre Barcode 39', cursive;
  color: $color;
  font-size: 40px;
  flex-wrap: nowrap;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}


@media (min-width: 768px) {
  .footer{
    font-size: 60px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    margin: 0;
    padding-top: 30px;
  }
}


@media (min-width: 1200px) {
  .footer{
    margin: 0;
    font-size: 100px;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    padding-top: 50px;
  }
}