.header {
  display: block;
  text-align: center;

  .header-title {
    @include tittle-page;
    ;
  }

  .fas {
    display: block;
    font-size: 50px;
    color: white;
    margin-top: 40px;
  }
}



