.container {
  padding: 10px;
}

.wrapper {
  background-color: #FFB600;
}

.container-main-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (min-width: 768px) {

  .container-main-aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

